@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
	@font-face {
		font-family: 'Atkinson';
		src: url('/fonts/atkinson-regular.woff') format('woff');
		font-weight: 400;
		font-style: normal;
		font-display: swap;
	}
	
	@font-face {
		font-family: 'Atkinson';
		src: url('/fonts/atkinson-bold.woff') format('woff');
		font-weight: 700;
		font-style: normal;
		font-display: swap;
	}
	
	/* noto-sans-kr-300 - korean */
	@font-face {
		font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
		font-family: 'Noto Sans KR';
		font-style: normal;
		font-weight: 300;
		src: url('/fonts/noto-sans-kr-v36-korean-300.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
		url('/fonts/noto-sans-kr-v36-korean-300.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
	}
	/* noto-sans-kr-regular - korean */
	@font-face {
		font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
		font-family: 'Noto Sans KR';
		font-style: normal;
		font-weight: 400;
		
		src: url('/fonts/noto-sans-kr-v36-korean-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
		url('/fonts/noto-sans-kr-v36-korean-regular.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
	}
	/* noto-sans-kr-500 - korean */
	@font-face {
		font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
		font-family: 'Noto Sans KR';
		font-style: normal;
		font-weight: 500;
		src: url('/fonts/noto-sans-kr-v36-korean-500.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
		url('/fonts/noto-sans-kr-v36-korean-500.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
	}
	/* noto-sans-kr-700 - korean */
	@font-face {
		font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
		font-family: 'Noto Sans KR';
		font-style: normal;
		font-weight: 700;
		src: url('/fonts/noto-sans-kr-v36-korean-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
		url('/fonts/noto-sans-kr-v36-korean-700.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
	}
}

html {
	@apply bg-white;
}
html.dark {
	@apply bg-gray-700;
}

body {
	/* @apply font-Atkinson m-0 p-0 text-left bg-gradient-to-b from-gray-200 to-white bg-no-repeat bg-[length:100%_600px] break-words text-gray-800 text-[20px] leading-[1.7] dark:text-white; */
	@apply py-0 px-2 pt-16 dark:text-white;
}

main {
	@apply w-[720px] max-w-[calc(100%-2em)] mx-auto py-12 px-4;
}

h1, h2, h3, h4, h5, h6 {
	@apply mb-2 text-black leading-[1.2] dark:text-white;
}

h1 {
	@apply font-bold text-[3.052em];
}

h2 {
	@apply font-medium text-[2.441em];
}

h3 {
	@apply font-normal text-[1.953em];
}

h4 {
	@apply font-light text-[1.563em];
}

h5 {
	@apply font-light text-[1.25em];
}

h6 {
	@apply font-light text-[0.865em];
}
strong, b {
	@apply font-bold;
}

a {
	@apply text-accent hover:text-accent;
}

p {
	@apply mb-4;
}

.prose p {
	@apply mb-8;
}

textarea {
	@apply w-full text-[16px];
}

input {
	@apply text-[16px];
}

table {
	@apply w-full;
}

img {
	@apply max-w-full h-auto rounded-lg;
}

code {
	@apply px-[5px] py-[2px] bg-gray-200 rounded dark:bg-gray-800;
}

pre {
	@apply p-6 rounded-lg;
}

pre > code {
	@apply text-inherit bg-inherit m-0 p-0;
}

blockquote {
	@apply border-l-4 border-accent pl-5 m-0 text-[1.333em];
}

hr {
	@apply border-0 border-t border-gray-200 dark:border-gray-700;
}

ul {
	@apply list-disc ml-6;
}

ol {
	@apply list-decimal ml-6;
}

li {
	@apply mb-2;
}

@media (max-width: 720px) {
	body {
		@apply text-[18px];
	}
	main {
		@apply p-4;
	}
}

.sr-only {
	@apply absolute w-px h-px p-0 m-0 overflow-hidden whitespace-nowrap border-0;
	clip: rect(0, 0, 0, 0);
	clip-path: inset(50%);
}

/* .sr-only {
	@apply absolute w-px h-px p-0 -m-px overflow-hidden whitespace-nowrap border-0 clip-[rect(1px,1px,1px,1px)] clip-path-[inset(50%)];
} */