---
import Layout from '../layouts/MdOnly.astro';
---

<Layout
	title="Now!"
	description="지금 현재 Now!"
	pubDate={new Date('2024-05-28')}
	updatedDate={new Date('2024-06-11')}
	heroImage="/blog-placeholder-about.jpg"
>

<style>
    .block {
        @apply my-10;
    }
    .block p {
        @apply mt-2 mb-2 leading-normal;
    }

    .block li {
        @apply my-2 ml-2;
    }

    .block ul {
        @apply list-disc ml-4;
    }

    .block blockquote{
        @apply text-base text-gray-500 italic border-l-4 border-gray-400 pl-2;
    }

</style>

<body>
    <p>
        지금 현재 무엇을 하고 있는지, 꾸준히 기록하고 업데이트 합니다.
    </p>

    <!-- 최근 ㄹ황 -->
    <div class="block">
        <div class="mb-2">
            <h4 class="inline">
                <strong>요즘 저는? </strong>
            </h4>
                <h5 class="inline">(최근 3개월)</h5>
        </div>
        <hr /> 
        <p>
            ML 엔지니어 포지션으로 구직하면서 그 동안 하지 못했던, 만들고 싶었던 것들을 만들고 있습니다.
                        
            <p>
                <b>2024.04</b>
                <li>Whisper를 활용한 자막 번역 프로젝트 (종료)</li>
                <li>슈팅게임 AI Agent 만들기 (시작)</li>
            </p>


            <p>
                <b>2024.05</b>
                <li>슈팅게임 AI Agent 만들기 (종료)</li>
                <li>Breakout AI Agent 만들기 (시작)</li>
            </p>

            <p>
                <b>2024.06</b>
                <li>Breakout AI Agent 만들기 (진행중)</li>
                <li>
                    <a href="https://github.com/wlsdn2749/hotdeal-crawling-project">
                        핫딜 그룹핑 프로젝트 
                    </a>
                    (시작) ~ 6/22 (종료 예정)
                </li>
                    
            </p>

            <blockquote>
                AI Agent의 경우, Unity ML-Agent를 주력으로 사용하고 있습니다.
            </blockquote>
        </p>
    </div>

    <!-- 취미! -->
    <div class="block">
        <div class="mb-2">
            <h4 class="inline">
            <strong>그래서 남는시간에는 뭐하는데? </strong>
        </div>
        <hr /> 
        <p>
            대부분의 취미생활을 게임으로 보내고 있습니다.
            
            <p>
                <b>PC</b>
                <li>League of Legend</li>
                <li>명조 워더링 웨이브 <b>(3rd)</b></li>
                <li>붕괴 스타레일</li>
            </p>
            
            <p>
                <b>Mobile</b>
                <li>작혼: 리치 마작</li>
                <li>하스스톤 <b>(2nd)</b></li>
                
            </p>

            <p>
                <b>Steam</b>
                <li> PUBG: 배틀그라운드 <b>(1st)</b></li>
            </p>

            <blockquote>
                적어보니 이렇게 많을줄;; 이정도면 조금 줄이긴 해야겠네요..
            </blockquote>
        </p>
    </div>
    
    <!-- 목표 -->
    <div class="block">
        <div class="mb-2">
            <h4 class="inline">
                <strong>2024년도 목표가 뭐야?</strong>
        </div>
        <hr /> 
        <p>
            큰 목표인 
            <strong>
                <i>
                    Be a developer makes touching and romatic programs like Human/Game AI
                </i>
            </strong>
            를 달성하기 위해서 작은 목표부터 차근차근 달성해나가려고 합니다.

            <li>만들고 있는 게임 포함하여 3개의 게임을 만들고, ML-Agent로 Training 하기</li>
            <li>슈팅게임과, Breakout 프로젝트 튜토리얼 포스트 작성하기 </li>
            <li>
                <a href="https://github.com/yingchengyang/Reinforcement-Learning-Papers">
                    강화학습 Key Papers
                </a>
                Model Free RL의 Classic Methods 위주로 모두 읽기
            </li>
            
            <li>
                <a href="https://leetcode.com/problemset/all-code-essentials/?listId=wpwgkgt&page=1&difficulty=MEDIUM">
                    LeetCode Top Interview Questions - Medium 
                </a>모두 풀기
            </li>
        </p>
    </div>

    <!-- 하고 싶은거-->
    <div class="block">
        <div class="mb-2">
            <h4 class="inline">
                <strong>하고 싶은게 있다면?</strong>
            </h4>
        </div>
        <hr /> 
        <p>
            하고싶은것이 생각날때마다 그냥 막 적고 있습니다.
            <li>
                저번에 갔던 
                <a href="https://www.youtube.com/watch?app=desktop&v=HtkSArsSsZQ">RL 세미나</a>
                가 너무 인상깊었어서 기회가 있다면 다시 한 번 가고싶다..! 
            </li>
        </p>
    </div>

    <!-- 조잘조잘 -->
    <div class="block">
        <div class="mb-2">
            <h4 class="inline">
                <strong>조잘조잘... </strong>

                <hr/>
            </h4>
            <p>
                <ul>
                    <li>YBM 상품권 100만원 아직 남아있는데.. 일본어/영어 회화 신청 해야되는데.. 시작이 반인데... </li>
                    <li>최근에 여러 Tech 기술 찍먹 시도 해보고 있습니다. </li>
                    <ol class="list-decimal">
                        <li>이 블로그를 만들 때 사용한 <a href="https://astro.build/"> Astro </a></li>
                        <li>MySQL, Sqlite 없이 간단하게 사용하기 좋은 <a href="https://duckdb.org/">DuckDB</a></li>
                    </ol>
                </ul>
            </p>
        </div>
    </div>
</body>

</Layout>
