---
import Layout from '../layouts/MdOnly.astro';
---

<Layout
	title="Now!"
	description="지금 현재 Now!"
	pubDate={new Date('2024-05-28')}
	updatedDate={new Date('2024-10-18')}
	heroImage="/blog-placeholder-about.jpg"
>

<style>
    .content-block {
        @apply my-10;
    }
    .content-block h2 {
        @apply text-xl font-bold mb-2;
    }
    .content-block h3 {
        @apply text-lg font-semibold mt-4 mb-2;
    }
    .content-block p, .content-block li {
        @apply my-2 leading-normal;
    }
    .content-block ul {
        @apply list-disc ml-6;
    }
    .content-block ol {
        @apply list-decimal ml-6;
    }
    .content-block blockquote {
        @apply text-base text-gray-500 italic border-l-4 border-gray-400 pl-4 my-4;
    }

    ul ul li{
        @apply list-none;
        list-style-type: circle;
    }
</style>

<article>
    <p>지금 현재 무엇을 하고 있는지, 꾸준히 기록하고 업데이트 합니다.</p>

    <!-- Recently Section -->
    <section class="content-block">
        <h2>요즘 저는? <small>(최근 3개월)</small></h2>
        <hr>
        <p>ML 엔지니어 포지션으로 구직하면서 그 동안 하지 못했던, 만들고 싶었던 것들을 만들고 있습니다.</p>

        <h3>2024.08</h3>
        <ul>
            <li>ML Agent 튜토리얼 블로그 작성 중</li>
        </ul>

        <h3>2024.09</h3>
        <ul>
            <li><a href="https://leetcode.com/problemset/all-code-essentials/?listId=wpwgkgt&page=1&difficulty=MEDIUM">LeetCode Top Interview Questions - Medium</a> (완료!)</li> 
            <li><a href="https://github.com/wlsdn2749/LightningRL">Pytorch-Lightning 으로 강화학습 알고리즘 구현 재도전</a> (시작)</li>
        </ul>

        <!-- <blockquote>AI Agent의 경우, Unity ML-Agent를 주력으로 사용하고 있습니다.</blockquote> -->

        <h3>2024.10</h3>
        <ul>
            <li><a href="https://github.com/wlsdn2749/LightningRL">Pytorch-Lightning 으로 강화학습 알고리즘 구현 재도전</a> (진행중)</li>
        </ul>

        <!-- <blockquote>Unity 6와 Sentis를 주력으로 사용하고 있습니다.</blockquote> -->
    </section>

    <!-- Hobby Section -->
    <section class="content-block">
        <h2>그래서 남는시간에는 뭐하는데?</h2>
        <hr>
        <p>대부분의 취미생활을 게임으로 보내고 있습니다.</p>

        <h3>PC</h3>
        <ul></ul>

        <h3>Mobile</h3>
        <ul>
            <li>하스스톤 </li>
        </ul>

        <h3>Steam</h3>
        <ul>
            <li>
                Once Human
                <p>
                    요즘 중국의 게임 개발사인 NetEase가 만든 게임인 Once Human에 푹 빠져 지내고 있습니다. 
                    개인적으로 이런 Crafting, Root Shooter 장르를 좋아했나봅니다. 개인적으로 The Day Before 같은 게임 분위기와 장르를 기대했는데
                    생각보다 제 입맛에 맞았습니다. 시간가는줄 모르고 하고있네요 ㅎㅎ..
                </p>
            </li>
            <li>PUBG: 배틀그라운드 </li>
        </ul>

        
    </section>

    <!-- Objective of this year Section -->
    <section class="content-block">
        <h2>2024년도 목표가 뭐야?</h2>
        <hr>
        <p>큰 목표인 <strong><em>Be a developer makes touching and romatic programs like Human/Game AI</em></strong>를 달성하기 위해서 작은 목표부터 차근차근 달성해나가려고 합니다.</p>

        <ul>
            <li>만들고 있는 게임 포함하여 3개의 게임을 만들고, ML-Agent로 Training 하기 <b>[2/3]</b>
                <ul>
                    <li><input type="checkbox", disabled checked>Shooting Game</li>
                    <li><input type="checkbox", disabled checked>Swipe Breakout</li>
                    <li><input type="checkbox", disabled >?</li>
                </ul>
            </li>
            <li>슈팅게임과, Swipe Breakout 프로젝트 튜토리얼 포스트 작성하기 <b>[0/3]</b>
                <ul>
                    <li><input type="checkbox", disabled>Unity ML Agents 튜토리얼 작성</li>
                    <li><input type="checkbox", disabled>Shooting Game 튜토리얼 작성</li>
                    <li><input type="checkbox", disabled>Swipe Breakout 튜토리얼 작성</li>
                </ul>
            </li>
            <li><a href="https://github.com/yingchengyang/Reinforcement-Learning-Papers">강화학습 Key Papers</a> Model Free RL의 Classic Methods 위주로 모두 읽기 <b>[2/15]</b>
                <ul>
                    <li><input type="checkbox", disabled checked>DQN</li>
                    <li><input type="checkbox", disabled checked>Double DQN</li>
                    <li><input type="checkbox", disabled>PER</li>
                </ul>   
            </li>
            <li><a href="https://leetcode.com/problemset/all-code-essentials/?listId=wpwgkgt&page=1&difficulty=MEDIUM">LeetCode Top Interview Questions - Medium</a> 모두 풀기 <b>[1/1]</b>
                <ul>
                    <li><input type="checkbox", disabled>추가 목표! <a href="https://www.leetcodehub.io/">Blind 75</a> 모두 풀기</li>
                </ul>   
            </li>

        </ul>
    </section>

    <!-- I'd like to do.. -->
    <section class="content-block">
        <h2>하고 싶은게 있다면?</h2>
        <hr>
        <p>하고싶은것이 생각날때마다 그냥 막 적고 있습니다.</p>
        <ul>
            <li>저번에 갔던 <a href="https://www.youtube.com/watch?app=desktop&v=HtkSArsSsZQ">RL 세미나</a>가 너무 인상깊었어서 기회가 있다면 다시 한 번 가고싶다..!</li>
            <li>콘서트도 한 번 가보고 싶어요 </li>
            <li>이번 년도에 면접 볼 수 있는 기회가 있으면 좋겠네요</li>
        </ul>
    </section>

    <section class="content-block">
        <h2>조잘조잘...</h2>
        <hr>
        <ul>
            <li>YBM에서 영어회화 진행하고 있습니다. 시작한지 한 달 정도 됬어요 꾸준하게 노력해보렵니다</li>
            <li>최근에 여러 Tech 기술 찍먹 시도 해보고 있습니다.</li>
            <ol>
                <li>Pytorch의 경량 프레임워크? 일까요 <a href="https://lightning.ai/">Pytorch-Lightning</a></li>
                <li>Unity의 Runtime AI <a href="https://unity.com/products/sentis"> Sentis </a></li>
                <li>이 블로그를 만들 때 사용한 <a href="https://astro.build/">Astro</a></li>
                <li>MySQL, Sqlite 없이 간단하게 사용하기 좋은 <a href="https://duckdb.org/">DuckDB</a></li>
            </ol>
            <li>여러 Python 책들 읽고 있습니다</li>
            <ol>
                <li><a href="https://www.yes24.com/Product/Goods/94197582">파이썬 코딩의 기술 [Effective Python 2nd]</a></li>
                <li><a href="https://www.yes24.com/Product/Goods/68835284">슬기로운 파이썬 트릭 [Python Tricks]</a></li>
                <p>다른 Python/ML/RL 관련 책도 추천받습니다!</p>
            </ol>
            <li>브라우저 Arc를 사용해보고 있습니다. 원래는 Mac OS만 지원하다 최근에 Windows를 지원하더라구요. 주로 쓰는 기능은 2가지 입니다</li>
            <ol>
                <li>Workspace 기능: Space별로 사이트를 북마크, 그룹핑이 가능합니다</li>
                <li>Window Split, Music Player: UI가 괜찮더라구요 사용하기 좋았습니다</li>
            </ol>
            <li>얼마전에 <a href="https://www.amc.seoul.kr/asan/healthinfo/disease/diseaseDetail.do?contentId=31995">일과성 뇌허혈증</a> 
                증상으로 응급실 다녀왔습니다. 여러가지 검사받았는데 뚜렷한 원인이 없다고 하네요. 평소에 운동안하고 버텼는데, 
                업보가 제대로 터진 느낌이에요. 바른 식습관 꾸준한 운동 하려고
                노력중입니다! 
            </li>
        </ul>
        
    </section>
</article>

</Layout>